.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 20px;
  border-bottom: 1px solid #e5e7eb;
  background: linear-gradient(
    90deg,
    #082f49 0%,
    /* sky-950 */ #7dd3fc 100% /* sky-300 */
  );
  width: 100%;
  box-sizing: border-box;
  flex-shrink: 0;
  height: 34px;
}
